body{
    height: 100vh;
    display: flex;
    background: url(backgroundimage1.jpeg);
    background-size: cover;
    align-items: center;
    justify-content: center;
    
}
.logo_form{
    font-family: cursive;
}
.form{
    width:350px;
    height: 250px;
    display: flex;
    border: 2px solid white;
    background-color:black;
    color: white;
    font-weight: bolder;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}
input{
    width:300px;
    background-color: black;
    color: white;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.submit{
    height: 30px;
    width:80px;
    font-weight: bolder;
    background-color: orangered;
}
.change{
    text-decoration: underline;
}