{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>log in</title>
    <link rel="stylesheet" href="{% static "login.css"%}">
</head>

<body>
        <form id="form_signin" class="form" method="POST" action="/signinsite/">
            {% csrf_token %}
            <div class="logo_form">FILES</div>
            <div class="info">
                <label for="username">USERNAME:</label>
                <input id="username" name="username" type="text">
                <label for="password">PASSWORD:</label>
                <input id="password" name="password" type="text">
            </div>
            <button type="submit" class="submit">SIGN IN</button>
            <div id="log in" onclick="func1()"class="change">LOG IN</div>
        </form>
        <form id="form_login" class="form" method="post"action="/loginsite/">
            {% csrf_token %}
            <div class="logo_form">FILES</div>
            <div class="info">
                <label for="username">USERNAME:</label>
                <input id="username" name="username" type="text">
                <label for="password">PASSWORD:</label>
                <input id="password" name="password" type="text">
            </div>
            <button type="submit" class="submit">LOG IN</button>
            <div id="sign in" onclick="func2()" class="change">SIGN IN</div>
        </form>
    

</body>
<script src="{% static "login.js"%}"></script>

</html>